<div class="sidebar large">
  <div class="container">


    <div class="contain">
      <div class="logo">
        <img src="assets/images/logo.png" >
      </div>
      <hr>
      <ul>
        <li> <a routerLink="/"  routerLinkActive="linkActive"  [routerLinkActiveOptions]="{exact:true}"  >Home </a></li>
        <li><a routerLink="/about"  routerLinkActive="linkActive"   [routerLinkActiveOptions]="{exact:true}" > about us </a></li>
        <li><a routerLink="/menu"  routerLinkActive="linkActive"  [routerLinkActiveOptions]="{exact:true}" > menu </a></li>
        <li><a routerLink="/gallery"  routerLinkActive="linkActive"  > gallery </a></li>
        <li><a routerLink="/blog"  routerLinkActive="linkActive"  > blog  </a></li>
        <li><a routerLink="/contact us"  routerLinkActive="linkActive"  > contact us </a></li>
        <li><a routerLink="/reservation"  routerLinkActive="linkActive"  > reservation </a></li>
      </ul>
      <hr>

      <div class="social">
        <a >f</a>
        <a>G+</a>
        <a>in</a>
      </div>

      <p class="copy"> &copy; copyright2020</p>
      <p class="design">Designed by Eman</p>
    </div>
    <div class="overlay"></div>

  </div>
</div>




<div class=" mobile">
  <nav class="navbar navbar-expand-lg navbar-light ">
        <a class="navbar-brand"  routerLink="/" >
          <img src="assets/images/logo.png"  width="100px" height="70px">
        </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

       <span class="fa fa-bars fa-2x " style="color: white;"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <div class="container">
        <div class="contain">
          <ul>
            <li> <a routerLink="/"  routerLinkActive="linkActive"  [routerLinkActiveOptions]="{exact:true}"  >Home </a></li>
            <li><a routerLink="/about"  routerLinkActive="linkActive"   [routerLinkActiveOptions]="{exact:true}" > about us </a></li>
            <li><a routerLink="/menu"  routerLinkActive="linkActive"  [routerLinkActiveOptions]="{exact:true}" > menu </a></li>
            <li><a routerLink="/gallery"  routerLinkActive="linkActive"  > gallery </a></li>
            <li><a routerLink="/blog"  routerLinkActive="linkActive"  > blog  </a></li>
            <li><a routerLink="/contact us"  routerLinkActive="linkActive"  > contact us </a></li>
            <li><a routerLink="/reservation"  routerLinkActive="linkActive"  > reservation </a></li>
          </ul>
          <hr>

          <div class="social">
            <a >f</a>
            <a>G+</a>
            <a>in</a>
          </div>

          <p class="copy"> &copy; copyright2020</p>
          <p class="design">Designed by Eman</p>
        </div>
        <div class="overlay"></div>

      </div>

    </div>
    </nav>
</div>
