<div class="blog">
  <div class="container">
    <div class="content">
      <h2>UPDATES</h2>
      <h4>OUR BLOG ARCHIVE</h4>
    </div>
  </div>
  <div class="overlay"></div>
</div>


<div class="img-desc">
    <div class="row">

      <div class="col-md-6">
        <div class="img">
          <img src="assets/images/pic3_400x400.jpg" width="100%" height="100%">
        </div>
        <div class="overlay"></div>
      </div>

      <div class="col-md-6">
        <div class="contain">
          <h3>February 21, 2020</h3>
          <h2>TEN BRILLIANT WAYS TO ADVERTISE RESTAURANT.</h2>
          <div class="hr"></div>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industrys standard dummy text ever since the 1500s,
             when an unknown printer took a galley.</p>
          <button class="btn btn-warning">READ MORE</button>
        </div>
      </div>

      <div class="col-md-6">
        <div class="img">
          <img src="assets/images/pic6_400x400.jpg" width="100%" height="100%">
        </div>
        <div class="overlay"></div>
      </div>

      <div class="col-md-6">
        <div class="contain">
          <h3>February 20, 2020</h3>
          <h2>WHY IS THE RESTAURANT IS SO FAMOUS</h2>
          <div class="hr"></div>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industrys standard dummy text ever since the 1500s,
             when an unknown printer took a galley.</p>
          <button class="btn btn-warning">READ MORE</button>
        </div>
      </div>


      <div class="col-md-6">
        <div class="img">
          <img src="assets/images/pic4_400x400.jpg" width="100%" height="100%">
        </div>
        <div class="overlay"></div>
      </div>

      <div class="col-md-6">
        <div class="contain">
          <h3>February 19, 2020</h3>
          <h2>7 QUICK TIPES REGARDING RESTAURANT</h2>
          <div class="hr"></div>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industrys standard dummy text ever since the 1500s,
             when an unknown printer took a galley.</p>
          <button class="btn btn-warning">READ MORE</button>
        </div>
      </div>





  </div>
</div>
